/.env.example export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.import export-ignore
/.pre-commit-config.yaml export-ignore
/test export-ignore
/project.godot export-ignore
/default_env.tres export-ignore
/.gutconfig.json export-ignore
/README.md export-ignore
/addons/gd-plug export-ignore
/plug.gd export-ignore
/Justfile export-ignore
/LICENSE export-ignore
/misc export-ignore

# GDScript linguist override
*.gd linguist-language=GDScript
